services:
  mariadb:
    image: mariadb:10.6.19-focal
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_USER: adminer
      MYSQL_PASSWORD: adminer
      MYSQL_DATABASE: noinch
  adminer:
    image: adminer:5.4.1-fastcgi
    container_name: adminer
    environment:
      ADMINER_DEFAULT_SERVER: mariadb
      ADMINER_PLUGINS: 'login-predefined sql-block'
      ADMINER_PREDEFINED_USER: adminer
      ADMINER_PREDEFINED_PASSWORD: adminer
    restart: always
    volumes:
      - ./plugins/login-predefined.php:/var/www/html/plugins/login-predefined.php
      - ./plugins/sql-block.php:/var/www/html/plugins/sql-block.php
  
  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    restart: always
    ports:
      - 8080:8080
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - adminer
